/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-rb8oh9d9hd] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rb8oh9d9hd] {
  color: #0077cc;
}

.btn-primary[b-rb8oh9d9hd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rb8oh9d9hd], .nav-pills .show > .nav-link[b-rb8oh9d9hd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rb8oh9d9hd] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rb8oh9d9hd] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rb8oh9d9hd] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rb8oh9d9hd] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-rb8oh9d9hd] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.message-bubble[b-rb8oh9d9hd] {
  display: inline-block;
  max-width: 80%;
  word-wrap: break-word;
}

@media (min-width: 992px) {
  .navbar[b-rb8oh9d9hd] {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}